<ul class="nav nav-tabs mb-3 mt-3" *ngIf="authUser$ | async as authUser">
  <li class="nav-item">
    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/categories" routerLinkActive="active" >Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/customers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Customers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/products" [routerLinkActiveOptions]="{exact:
true}">Products</a>
  </li>   
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" *ngIf="!authUser.isLoggedIn">Login</a>
  </li>   
  <li class="nav-item">
    <a class="nav-link" routerLink="/logout"  *ngIf="authUser.isLoggedIn">Logout</a>
  </li>   
</ul>
