

.nav-tabs{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  background-color: lightblue;
}

.nav-link{
  color: red;
}

.nav-link{
  color: #663399;
  font-weight: bold;
}
.nav-link:hover{
  color: red;
}

.btn-link{
  text-decoration: none;
  color: #663399;
  font-weight: bold;
}

.btn-link:hover{
  color: red;
}
